@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@font-face{
    font-family: 'Robo';
    src: url(fontes/idroid.otf) format('opentype'); font-weight: normal;
}

/* Gerais */

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: rgba(0, 0, 0, 0.925);
    --cor2: rgb(139, 248, 88);
    --cor3: rgb(23, 71, 8);
}

p{
    text-align: justify;
}

body{
    background-color: rgb(23, 71, 8);
}

h3{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

/* Navegagação */

nav{
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    margin: 5px 1.8%; 
    text-decoration: none;
    color: greenyellow;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    transition: 0.5s;
}

nav a:hover{
    color: white;
    transition: 0.5s;
}

/* Cabeçalho */

header{
    height: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

header h1{
    font-size: 400%;
    text-align: center;
}

/* Corpo principal */

main{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.corpo h2{
    margin: 10px;
    font-family: 'Heebo', sans-serif;
    background-image: linear-gradient(to right, greenyellow, transparent);
    padding: 10px;
    border-radius: 5px;
}

.corpo article{
    background-color: rgba(28, 228, 28, 0.856);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
    max-width: 1100px;
    min-width: 200px;
    padding: 20px;
}

.corpo p{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    padding: 20px;
}

main a{
    text-decoration: none;
    color: black;
    background-color: greenyellow;
    padding: 2px 4px;
    border-radius: 5px;
    transition: 0.5s;
}

main a:hover{
    text-decoration: underline;
    color: blue;
    transition: 0.5s;
}

picture img{
    display: block;
    margin: auto;
}

.video{
    margin-bottom: 20px;
    max-height: 550px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video iframe{
    width: 70%;
    min-width: 350px;
    max-height: 70%;
    min-height: 150px;
}

.extra{
    background-color:rgba(128, 128, 128, 0.589);
    width: 90%;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}

.extra h1{
    text-align: center;
}

footer{
    background-color: var(--cor1);
    height: 80px;
    padding: 15px;
    color: white;
    text-align: center;
}

footer h3{
    font-family:'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 10px;
}

footer img{
    height: 30px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}


